@import 'tailwindcss';
@import 'aos/dist/aos.css';

@theme {
  --animate-smooth-disappear: smoothDisappear 1s ease-in-out 1 forwards;
  @keyframes smoothDisappear {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
    }
  }
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Benzin-ExtraBold.woff2') format('woff2');
}

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.drep{
  font-family:  'MyFont';
}
/* 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */

.drepe{
  animation: transferToMenu 1s infinite;
}

@keyframes transferToMenu {
  0% {
    transform: translateY(0);
    font-size: 300px;
    color: white;
  }
  100% {
    transform: translateY(-10px);
    font-size: 20px;
    color: red;
  }
}

::placeholder{
  color: black;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  15% { transform: translateX(-3px); }
  30% { transform: translateX(3px); }
  45% { transform: translateX(-2px); }
  60% { transform: translateX(2px); }
  75% { transform: translateX(-3px); }
  90% { transform: translateX(3px); }
}

.animate-shake {
  animation: shake 1s ease-in-out;
}